/* font size */

.font-size-20 {
    font-size: 20px;
}

/* Margin */

.margin-auto {
    margin: auto;
}

.mt-5 {
    margin-top: 5rem;
}

.mt-8 {
    margin-top: 8rem;
}

.mr-1 {
    margin-right: 1rem;
}

.pr-10 {
    padding-right: 10px;
}

/* Colors */

.color-y {
    color: #8E4DEB
}

.color-red {
    color: red;
}

.color-blue {
    background-color: blue;
}

.color-violet {
    background-color: blueviolet;
}
/* Table */

table {
    border: solid 1px gray;
    border-spacing: 0;
    width: 90%;
}

td {
    padding: 1rem;
}

tr:nth-child(even) {
    background-color: gray;
}

td:hover {
    transform: scale(1.1, 1.1);
}

thead {
    background-color: black;
    color: white;
}

/* alignment */

.text-center {
    text-align: center;
}

.display-inlineBlock {
    display: inline-block;
}

.cursor-pointer {
    cursor: pointer;
}